:root {
    --header-height: 65px;
    --footer-height: 50px;
}

.main {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav section section"
        "nav footer footer";
    grid-template-columns: var(--nav-width) 1fr 1fr;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
}

.header {
    height: var(--header-height);
    background: inherit;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap :16px;
    padding : 0 64px;
    margin-bottom: 48px;
    img{
        width :30px;
        height: 30px;
    }
    button{
        border : none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        background: inherit;
        position: relative;
        transition: transform .1s ease-in-out;
        svg{
            transition: var(--transition);
            fill: var(--color);
        }
        &:hover{  
            transform: scale(1.2);
        }
    }
    
}

.nav {
    transition: var(--transition);
    background: var(--secondary-bg);
    grid-area: nav;
}

.section {
    background: inheri;
    grid-area: section;
    padding : 0 64px;
}

.footer {
    height: var(--footer-height);
    background: inherit;
    grid-area: footer;
    padding : 0 64px;
}
