:root {
    --header-height: 50px;
    --footer-height: 50px;
}

.main {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav section section"
        "nav footer footer";
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
}

.header {
    height: var(--header-height);
    background: inherit;
    grid-area: header;
}

.nav {
    transition: var(--transition);
    background: var(--secondary-bg);
    grid-area: nav;
}

.section {
    background: inheri;
    grid-area: section;
}

.footer {
    height: var(--footer-height);
    background: inherit;
    grid-area: footer;
}
