:root {
  --body-bg-light: rgb(255, 255, 255);
  --secondary-bg-light: rgb(248, 248, 248);
  --color-light: rgb(88, 82, 128);
  --elements-bg-light: rgb(44, 40, 57);

  --body-bg-dark: rgba(48, 44, 64);
  --secondary-bg-dark: rgb(44, 40, 57);
  --color-dark: rgb(255, 255, 255);
  --elements-bg-dark: rgb(255, 255, 255);
  



  --transition: background-color .1s ease-in-out, color .3s ease-in-out, fill .5s ease-in-out;
  --hover-bg: rgba(0, 0, 0, 0.1);

  font-size: 10px;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html[data-theme="dark"] {
  --body-bg: var(--body-bg-dark);
  --secondary-bg: var(--secondary-bg-dark);
  --color: var(--color-dark);
  --elements-bg: var(--elements-bg-dark);
}

html[data-theme="light"] {
  --body-bg: var(--body-bg-light);
  --secondary-bg: var(--secondary-bg-light);
  --color: var(--color-light);
  --elements-bg: var(--elements-bg-light);
}


body {
  transition: var(--transition);
  background: var(--body-bg);
  color: var(--color);
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}


